body {
    background-color: #EEE;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: chartreuse;
    ul {
        display: flex;
        padding: 1rem;
        margin: 0;
        li {
            list-style-type: none;
            margin-right: 1.5em; 

        }
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}
#wrapper {
    padding: 3em;
}