body {
  background: linear-gradient(to bottom right, #2727b8, rgb(0, 0, 98));
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 1.8rem;
}
#wrapper {
  padding: 2em;
  max-width: 1000px;
}
a {
  text-decoration: none;
}
li {
  background-color: white;
  padding: 1rem;
  width: fit-content;
  margin-bottom: 1rem;
  color: blue;
  transition: all 250ms ease-in-out;

}
li:hover {
  box-shadow: -9px 9px 0px 0px rgba(255,255,255,1);
  background-color: aquamarine;
}
#pages-list {
  padding: 0;
  display: flex;
  gap: .5em;
  color: blue;
}
.viewOnGithub {
  font-size: 1.3rem;
}
.viewOnGithub a:link,.viewOnGithub a:hover,.viewOnGithub   a:visited {
  color: white;
}
.viewOnGithub::after {
  content: ' →'
}
ul {
  display: block;
  list-style-type: none;
}
h3 {
  border-bottom: solid white 3px;
  padding-bottom: 1rem;
}
h4:not(:first-of-type) {
  border-top: solid white 1px;
  padding-top: 1rem;
}
.italics {
  font-style: italic;
}
.small {
  font-size: small;
}
#autogen-brag {
  background-color: white;
  color: blue;
  padding: 2px 4px;
  width: fit-content;
}